extends layout
block head
    title SCRUM App
block content
    h3 SCRUM App
    a(href="/logout") Logout
    if(master==1)
        h3 youree master
    div(ng-view)
block imports
    if(master==1)
        script(src='/js/scrum/masterControllers.js')
    script(src="/js/scrum/controllers.js")
    if(master==1)
        script(src="/js/scrum/masterScrumApp.js")
    else
        script(src="/js/scrum/scrumApp.js")