h1 sprint
if(master==1)
    form(method="post",enctype="multipart/form-data",action="/upload")
        p Titulo archivo
        input(type="text",name="title",placeholder="title")
        p Archivo
        input(type="file",name="upload")
        p
        input(type="submit")